*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.main-body{
    margin: 10vw;
}

.welcome-div{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.search-bar{
    display: flex;
    justify-content: center;
}

.main-content{
    display: flex;
    justify-content: center;
}


.main-body  .flag-img{
    display: block;
    width: 45%;
    margin-top: 50px;
}
